@import './assets/var';

.aaa1,
.aaa2,
.aaa3,
.aaa4 {
	border-radius: 20px;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	box-shadow: 0px 14px 0px -6px rgba(0, 0, 0, 0.72);
	-webkit-box-shadow: 0px 14px 0px -6px rgba(0, 0, 0, 0.72);
	-moz-box-shadow: 0px 14px 0px -6px rgba(0, 0, 0, 0.72);
}

.aaa1 {
	background-color: #84b36b;
}

.aaa2 {
	background-color: #75abd1;
}

.aaa3 {
	background-color: #b46cd1;
}

.aaa4 {
	background-color: #b46cd1;
}