.upcomingTasks {
	border: none !important;
	padding: 0 !important;
	margin-top: 40px;
	@media (max-width: 600px) {
		margin-top: 20px;
	}
	.tasksWrapper {
		.tasks {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			@media (max-width: 800px) {
				gap: 15px;
			}
			@media (max-width: 710px) {
				justify-content: center;
			}
		}
		.upcomingSkeletons {
			display: flex;
			gap: 20px;
		}
	}

	.upcomingBtn {
		display: flex;
		justify-content: center;
		width: 200px;
		margin: 0 auto;
		margin-top: 20px;
		background-color: rgba(0, 0, 0, 0.886);
		border-radius: 0;
	}
}
