@import '../../../../assets/var.scss';

.formWindow {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	padding: 40px 30px;
	border: 2px solid #000;
	border-radius: 15px;
	margin: 0 auto;
	background-color: #fff;

	.title {
		font-size: 2rem;
		margin-bottom: 20px;
		transition: color .1s ease-in-out;

		&.register {
			color: $color-red;
		}

		&.login {
			color: $color-blue;
		}
	}

	.form {
		.btn_register {
			background-color: $color-red;
		}
	}

	.footer {
		margin-top: 15px;

		.footerText {
			font-size: 18px;

			>a {
				margin-left: 7px;
				text-decoration: none;
			}
		}
	}
}