.button {
	display: flex;
	align-items: center;
	padding: 20px 16px;
	height: 30px;
	background-color: #9bda9d;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .15s ease-in-out;

	svg {
		font-size: 20px;
	}

	.text {
		font-size: 18px;
		margin-left: 13px;
		letter-spacing: .5px;
		color: #000000;
	}

	&:hover {
		background-color: #81c583;
	}
}