.button {
	display: flex;
	align-items: center;
	padding: 20px 16px;
	height: 30px;
	background-color: #cdffcf;
	color: white;
	border: 2px solid #000;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .2s ease-in-out;

	svg {
		font-size: 20px;
	}

	.text {
		font-size: 20px;
		margin-left: 20px;
		letter-spacing: 1.4px;
		color: #4f2986;
	}

	&:hover {
		background-color: #9bda9d;
	}
}