@use "../../../assets/var.scss" as *;

.nav__link {
	a {
		position: relative;
		display: flex;
		width: 100%;
		align-items: center;
		font-size: 1.3rem;
		text-decoration: none;
		color: black;
		box-sizing: border-box;

		&::after {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			height: 100%;
			width: 0;
			border-bottom-left-radius: 100%;
			border-top-left-radius: 100%;
			background-color: #518cf3;
			transition: 0.1s linear;
		}

		&.active {
			&::after {
				width: 4px;
			}
		}

		@media (hover: hover) {
			&:hover {
				&::after {
					width: 5px;
				}
			}
		}

		svg {
			min-width: 27px;
		}

		>div {
			margin-left: 10px;
		}
	}
}